<p>
<b>OpenGrok - a "wicked fast" source browser!</b></p>

<p>
This is the front page of your <a 
href="xref/">browsable and searchable source tree</a> (<a 
href="xref/">xref/</a>).</p>

<p>
<%= @body_text %>
</p>
<br/>
<br/>
<br/>
<br/>
<br/>
